.header-style {
    position: fixed;
    z-index: 1;
    width: 100%;
    padding: 0 50px;
}

.menu-style {
    line-height: 64px;
}

.content-style {
    padding: 0 50px;
    margin-top: 90px;
}

.components {
     margin: 16px 0;
     background-color: #FFFFFF;
     padding: 30px;
}

.footer-style {
    text-align: center;
}

.ant-layout-content {
    display: flex;
    min-height: 85vh;
    flex-direction: column;
}